<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Index Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS ===============================================================================================-->
	<head th:include="common :: css"></head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>

<body>
	
	<!-- <div class="menu" th:style="'background-image: url('+ @{/images/bg-01.jpg} +');background-size:cover;'"></div> -->
	<div class="menu">
		<h1>Test SysTem</h1>
		<div class="menuBtnList">
			<button type="button" class="btn btn-dark" id="indexBtn">Home</button>
			<button type="button" class="btn btn-dark" name="menuBtn" data-src="x/?page=member">Member</button>
			<button type="button" class="btn btn-dark" name="menuBtn" data-src="x/?page=orderForm">Order</button>
			<button style="display: none;" type="button" class="btn btn-dark" name="menuBtn" data-src="x/?page=Sampling">Sampling</button>
			<button type="button" class="btn btn-dark" name="menuBtn" data-src="test/go/test">Test</button>
			<button type="button" class="btn btn-danger" id="logoutBtn" >Logout</button>
		</div>
	</div>
	
	<div class="index-box">

		<iframe id="iframe-page" frameborder="0" scrolling="yes" src="" width="70%" height="100%"> </iframe>
		
		<div id="index-content">
			<span class="title">
				Notice
			</span>
		</div>
		
		
	</div>
	
<!-- JS ===============================================================================================-->
	<body th:include="common :: js"></body>
	<script th:src="@{/js/utility.js}"></script>
	<script th:src="@{/js/index.js}"></script>

</body>
</html>