<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="BIG5">
<title>Insert title here</title>

<!-- CSS===============================================================================================-->
	<head th:include="common :: css"></head>
<!-- boostrapTable -->
    <link rel="stylesheet" type="text/css" th:href="@{/uiCore/bootstrap-table@1.20.1/dist/bootstrap-table.min.css}">
    <!-- 進階插件 -->
	<link rel="stylesheet" type="text/css" th:href="@{/uiCore/bootstrap-table@1.20.1/dist/extensions/sticky-header/bootstrap-table-sticky-header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/uiCore/bootstrap-table@1.20.1/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.css}">
	
</head>
<body>
<h1 style="color: red;">Welcome to Customer !</h1>
<br>
<div class="col-6">
	<button type="button" id="openBtn" class="dom-center pull-right btn btn-info">OPEN</button>
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
		Launch demo modal
	</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Cassette Wip Modal-->
<div class="modal fade" id="testModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
	  	<div class="modal-content">
			<div class="modal-header text-center custom_modal_header">
				test Information
				<button type="button" class="close" data-bs-dismiss="modal"><span class="glyphicon glyphicon-remove"
						style="font-size:32px;"></span></button>
			</div>
			<div class="modal-body">
				<table class="table" id="testTable"></table>
			</div>
			<div class="modal-footer">
				<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
	  	</div>
	</div>
</div>

<!-- JS===============================================================================================-->
	<body th:include="common :: js"></body>
<!-- boostrapTable -->
    <script th:src="@{/uiCore/bootstrap-table@1.20.1/dist/bootstrap-table.min.js}"></script>
	<!-- 進階插件 -->
	<script th:src="@{/uiCore/bootstrap-table@1.20.1/dist/extensions/sticky-header/bootstrap-table-sticky-header.js}"></script>
    <script th:src="@{/uiCore/bootstrap-table@1.20.1/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/js/utility.js}"></script>
	<script th:src="@{/js/orderForm.js}"></script>
	
</body>
</html>