<!DOCTYPE html>
<html>
<head>
	<meta charset="BIG5">
	<title>Test Something</title>

	<head th:include="common :: css"></head>
	<head th:include="bootstrap-table :: css"></head>
<!--CSS===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">


</head>
<body class="re-content">
	<span class="title">
		Something Test Program !
	</span>
	<br>
	<div class="col-12"></div>
	<br>
	<button id="queryBtn" type="button" class="btn btn-primary">Query</button>

	<div class="col-12"></div>
	<br>
	<button id="goOrderBtn" type="button" class="btn btn-primary">Go Order</button>
	
	<div class="col-12"></div>
	<br>
	<button id="dbBtn2" type="button" class="btn btn-primary">Save</button>
	
	<div class="col-12"></div>
	<br>
	<button id="dbBtn3" type="button" class="btn btn-danger">Delete</button>

	<div class="col-12"></div>
	<br>
	<button id="goSamplingBtn" type="button" class="btn btn-primary">Go Sampling</button>

	<div class="col-12"></div>
	<br>
	<button id="MultiValueMapBtn" type="button" class="btn btn-primary">MultiValueMap</button>
	

<!-- Cassette Wip Modal-->
<div class="modal fade" id="testModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
	  	<div class="modal-content">
			<div class="modal-header text-center custom_modal_header">
				test Information
				<button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"
						style="font-size:32px;"></span></button>
			</div>
			<div class="modal-body">
				<table class="table" id="testTable"></table>
			</div>
			<div class="modal-footer">
				<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
	  	</div>
	</div>
</div>

<!-- JS ===============================================================================================-->
	<body th:include="common :: js"></body>
	<body th:include="bootstrap-table :: js"></body>
<!--===============================================================================================-->
	<script th:src="@{/js/utility.js}"></script>
	<script th:src="@{/js/test.js}"></script>

</body>
</html>